body {
  background-color: lightblue;
  text-align: center
}
h1 {
  font-family: 'Lobster;, cursive';
}
h2{
  font-family: 'Crete Round', serif;
}

.images {
  width:"600px";
  height:"600px";
  border-radius: 50%;
}

