<!DOCTYPE html>
<html>
  <head>
    <title>Add activity to Moon phase</title>
  </head>
  <body>
  <h1>Add new activity to Moon phase</h1>
  <form method="POST" action="/contact" class="form">
  
  </form>

  </body>
</html>