<!DOCTYPE html>
<html>
  <head>
    <title>Add activity</title>
  </head>
  <body>
  <h1>Add new activity</h1>
  <form method="POST" action="/" class="form">
    <label for="activity"> Enter activity: </label>
    <input id="activity" type="text" value="Activity">
    <input type="submit" value="OK">
  </form>

  </body>
</html>