<!DOCTYPE html>
<html>
  <head>
    <title>Add activity to Moon phase</title>
  </head>
  <body>
  <h1>Add new activity to {{name}} phase</h1>
  <form method="POST" action="/addPhaseActivity/{{id}}" class="form">
    <label for="activity"> Enter activity: </label>
    <input id="activity" type="text" name="title" value="Activity">
    <input type="submit" value="OK">
  </form>

  </body>
</html>