<!DOCTYPE html>
<html>
  <head>
    <title>Add activity</title>
   <title>Moon Phase</title>
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Crete+Round|Lobster" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="../styles.css" media="screen" />

  </head>
  <body>
    
  <h1>Add new activity</h1>
  <form method="POST" action="/addAct" class="form">
  <h2><label for="activity"> Enter activity: </label></h2>
   <h2><input id="activity" type="text" name="title"></h2>
    <input class ="btn" type="submit" value="OK">
  </form>

  </body>
</html>