<!DOCTYPE html>
<html>
  <head>
    <title>Moon Phase Thing</title>
  </head>
  <body>
  <h1>Moon Phases</h1>
  {{#each phase}}
  <a href = {{url}}>
  {{image}}
  {{title}}
  </a>
  {{/each}}

  </body>
</html>
