<!DOCTYPE html>
<html>
  <head>
    <title>Moon Phase</title>
  </head>
  <body style="background-color:black">
     <img src= 'images/{{image}}'>
    <h2>{{name}}</h2>
    <h3>Next date: {{next_date}}</h3>
    <h3>Activities</h3>
    <ul>
    {{#each activities}}
    <li>{{title}}</li>
    {{/each}}
    <h3><a href="javascript:history.back()">Go to moon phase home</a></h3>
  </body>
</html>