<!DOCTYPE html>
<html>
  <head>
    <title>Moon Phase</title>
  </head>
  <body>
    {{#each phase}}
    {{title}}
    {{image}}
    {{next date}}
    {{activity}}
    {{/each}}
    <h3><a href="javascript:history.back()">Back to Previous Page</a></h3>
  </body>
</html>