body {
  background-color: lightblue;
  text-align: center
}
h1 {
  font-family: 'Lobster';
  font-size:60px;

}
h2{
  font-family: 'Crete Round';
  font-size: 20px;
}
.images{
  width: 500px;
  border-radius: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#btn {
  background-color: blue;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}